<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>189546112079-feloifj1i2bav1e32ca8maofhq3f7uhr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.189546112079-feloifj1i2bav1e32ca8maofhq3f7uhr</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>189546112079-uu85on6qn2ev9ga9gnhhs0j6os09opa0.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAz9-EZJi7AIPj27diZT58_U55hohh3v_Q</string>
	<key>GCM_SENDER_ID</key>
	<string>189546112079</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.olxfirebase.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>olxapp-f50a9</string>
	<key>STORAGE_BUCKET</key>
	<string>olxapp-f50a9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:189546112079:ios:76913c8f03477dc896b63a</string>
</dict>
</plist>